body {
    background-color: rgb(154, 230, 198);
    font-family: Georgia, 'Times New Roman', Times, serif;


}
h1 {
    text-align: center;
    color: dimgray;


}

.projects {
     display:flex; 
     flex-wrap:wrap; 
    } 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(139, 41, 41); /* pick a color */
border-radius: 25%;
}
